<ng-include src="'resources/html/header.html'"></ng-include>
    <div class="container__backend">
        <nav class="menu">
            <ul class="menu__list">
                <li class="menu__item menu__item--active"><a href="" ng-click="initData('/users')">Пользователи</a></li>
                <!--<li class="menu__item"><a href="" ng-click="initData('/people')">Студенты</a></li>-->
                <!--<li class="menu__item"><a href="" ng-click="initData('/teachers')">Преподаватели</a></li>-->
                <li class="menu__item"><a href="" ng-click="initData('/news')">Новости</a></li>
                <li class="menu__item"><a href="" ng-click="initData('/marks')">Отметки</a></li>
                <li class="menu__item"><a href="" ng-click="initData('/lessons')">Уроки</a></li>
                <li class="menu__item"><a href="" ng-click="initData('/groups')">Группы</a></li>
                <li class="menu__item"><a href="" ng-click="initData('/courses')">Курсы</a></li>
                <li class="menu__item"><a href="" ng-click="initData('/comments')">Комментарии</a></li>
                <li class="menu__item"><a href="" ng-click="initData('/controlpoints')">Контрольные точки</a></li>
            </ul>
        </nav>
        <div class="container__base">
            <div class="container__blockTable">
                <table class="container__table">
                    <tr>
                        <th ng-repeat="key in dataKeys">{{key}}</th>
                    </tr>
                    <tr ng-repeat="item in data">
                        <td ng-repeat="(key,value) in item"> {{value}}</td>
                        <td>
                            <button ng-click="showPopup()">еdit</button>
                            <button ng-click="deleteItem(item)">-</button>
                        </td>
                    </tr>
                </table>
                <button class="table__add" ng-click="showPopup()">+</button>
            </div>
        </div>
    </div>
<div class="popup__bg" style="display: none"></div>
<div class="popup" style="display: none">
    <form name="addForm"  id = "addForm" novalidate>
        <div ng-repeat="key in formKeys track by key" class="popup_keyValue">
            <span>{{key}}</span>
            <input ng-model="Item.formKeys[key]" type="text" name="{{key}}" placeholder="{{key}}" required>
        </div>
        <input type="button" ng-click="addItem()" value="ok">
        <button ng-click="hidePopup()">Cancel</button>
    </form>
</div>
<!--<div class="popup">-->
    <!--<form name="user" novalidate ng-controller="formController" ng-submit="submit()" >-->
        <!--<input type="text" name="LovelyText" placeholder="Some Text 1" ng-model="text1" required/>-->

        <!--<input type="text" name="LovelyText2" placeholder="Some Text 2" ng-model="text2" required/>-->

        <!--<input type="text" name="LovelyText3" placeholder="Some Text 3" ng-model="text3" required/>-->

        <!--<input type="submit" value="Send Text" ng-disabled="LovelyForm.$invalid">-->
    <!--</form>-->
<!--</div>-->
<ng-include src="'resources/html/footer.html'"></ng-include>