<ng-include src="'resources/html/partials/header.html'"></ng-include>
<div class="container" >
    <div class="container__banner">
        <!--<div class="banner__slider">-->
            <!--<img class="banner__slide banner__slide&#45;&#45;active" src="resources/images/banner-italy.jpg">-->
        <!--</div>-->
        <!--<div class="banner__title" >-->
                <!--<span>Говорить на иностранном языке просто!<br>-->
                    <!--Месяц обучения всего от<br></span>-->
            <!--<span class="info__price">300 рублей!<br></span>-->
            <!--<span>Запишитесь на бесплатное занятие по телефону:<br></span>-->
            <!--<span class="info__phone">+372(29)123-45-67</span>-->
        <!--</div>-->
        <div class="banner__title">
            <span>Говорить на иностранном<br> языке просто!</span>
        </div>
    </div>
    <div class="container__choice">
        <div class="choice__block">
            <h2>Почему более 2 студентов выбрали нас</h2>
            <div class="container__delimiter"></div>
            <div class="container__numbers">
                <div ng-repeat="number in numbers track by $index"  >
                    <button class="{{number.classes}}" ng-click = "changeTypeChoice($event, $index+1)">{{number.id}}</button>
                </div>
            </div>
            <div ng-repeat="choice in choices" >
                <div id="{{choice.id}}" class="{{choice.classes}}">
                    <div class="choice__text">
                        <h3>{{choice.title}}</h3>
                        <span>{{choice.content}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--<div class="info__block">-->
        <!--<div class="info__image">-->
            <!--<img src="resources/images/german_woman.jpg">-->
        <!--</div>-->
        <!--<div class="info__text">-->
            <!--<h3>Лалалалл лалал аллалала</h3>-->
            <!--<article>Ла лалалаааоа лалалалал аллаал алалалал алалалал алалал алаалаал аа лааалала алалала алалал-->
            <!--лалалала аллалаал алаллаала аллалалалал алаллаа алалалала алалалалал алалаллаллал алаллалалла алаллалал-->
            <!--лалаллала алла алалла алалалаллала алалаллалаа алаллалла</article>-->
            <!--<div class="info__blockButton">-->
                <!--<button>Читать подробнее</button>-->
                <!--<button>Записаться</button>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="info__block">-->
        <!--<div class="info__image">-->
            <!--<img src="resources/images/italian-girl.jpg">-->
        <!--</div>-->
        <!--<div class="info__text">-->
            <!--<h3>Лалалалл лалал аллалала</h3>-->
            <!--<article>Ла лалалаааоа лалалалал аллаал алалалал алалалал алалал алаалаал аа лааалала алалала алалал-->
                <!--лалалала аллалаал алаллаала аллалалалал алаллаа алалалала алалалалал алалаллаллал алаллалалла алаллалал-->
                <!--лалаллала алла алалла алалалаллала алалаллалаа алаллалла</article>-->
            <!--<div class="info__blockButton">-->
                <!--<button>Читать подробнее</button>-->
                <!--<button>Записаться</button>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
</div>
<ng-include src="'resources/html/partials/footer.html'"></ng-include>


