<ng-include src="'resources/html/partials/header.html'"></ng-include>
<div class="container">
    <div class="container__login">
        <div class="login__block">
            <form name="loginForm" ng-submit="login(credentials)" novalidate>
                <label for="login__username">Username:</label>
                <input type="text" id="login__username" ng-model="credentials.username">
                <label for="login__password">Password:</label>
                <input type="password" id="login__password" ng-model="credentials.password">
                <button type="submit">Login</button>
            </form>
        </div>
    </div>
</div>
<ng-include src="'resources/html/partials/footer.html'"></ng-include>