<ng-include src="'resources/html/partials/header.html'"></ng-include>
<div class="container">
    <div class="container__news">
        <div ng-repeat="item in all_news" class="news__block">
            <h3>{{item.title}}</h3>
            <div class="container__delimiterBlock"></div>
            <div class="news__content">
                <span>{{item.content}}</span>
            </div>
            <div class="container__delimiterBlock"></div>
            <div class="news__info">
                <span>{{item.date}}</span>
                <span>{{item.author}}</span>
            </div>
        </div>
    </div>
    <div class="popup__add modal__box">
        <ng-include src="'resources/html/partials/news/add_form.html'"></ng-include>
    </div>
    <button class="table__add" ng-click="showPopup()" ng-show="isAuthenticated"></button>
</div>
<ng-include src="'resources/html/partials/footer.html'"></ng-include>