<div class="modal__content">
    <div class="modal__header">
        <h3>Добавление новости</h3>
    </div>
    <div class="modal__body">
        <form name="addForm"  class = "popup__addForm" novalidate>
            <div class="popup_keyValue">
                <span>Заголовок:</span>
                <input ng-model="Item.formKeys['title']" type="text" name="Заголовок" placeholder="Заголовок" required>
            </div>
            <div class="popup_keyValue">
                <span>Текст:</span>
                <textarea ng-model="Item.formKeys['content']" type="text" name="Текст" placeholder="Текст" required></textarea>
            </div>
            <div class="popup_keyValue" ng-show="false">
                <span>Автор:</span>
                <input ng-model="Item.formKeys['author'] = current_userId" type="text" name="Текст" required>
            </div>
            <div class="popup_keyValue" ng-show="false">
                <span>Дата и время</span>
                <input ng-model="Item.formKeys['date'] = currentDate | date:'yyyy-MM-dd HH:mm:ss'" required>
            </div>
            <!--<div ng-repeat="key in formKeys track by key" class="popup_keyValue">-->
                <!--<span>{{key}}</span>-->
                <!--<input ng-model="Item.formKeys[key]" type="text" name="{{key}}" placeholder="{{key}}" required>-->
            <!--</div>-->
        </form>
    </div>
    <span ng-module="errorMessage">{{errorMessage}}</span>
    <div class="modal__footer">
        <input type="button" ng-click="addItem()" ng-disabled="addForm. $invalid" value="Добавить">
        <button ng-click="hidePopup('.popup__add')">Отмена</button>
    </div>
</div>