<div class="container__blockTable">
    <table class="container__table table__news">
        <thead>
            <tr>
                <th>Заголовок</th>
                <th>Текст</th>
                <th>Автор</th>
                <th>Дата</th>
            </tr>
        </thead>
        <tr ng-repeat="item in data">
            <td>{{item.title}}</td>
            <td>{{item.content}}</td>
            <td>{{item.author_name}}</td>
            <td>{{item.date}}</td>
            <td>
                <button ng-click="editItemPopup('.popup__edit', item)">еdit</button>
                <button ng-click="deleteItemPopup('.popup__delete', item)">-</button>
            </td>
        </tr>
    </table>
    <button class="table__add" ng-click="showPopup('.popup__add')"></button>
</div>