<div class="container__blockTable">
    <table class="container__table">
        <tr>
            <th>Группа</th>
            <th>Преподаватель</th>
            <th>Аудитория</th>
            <th>Время</th>
            <th>День недели</th>
        </tr>
        <tr ng-repeat="item in data">
            <td>{{item.group}}</td>
            <td>{{item.teacher}}</td>
            <td>{{item.room}}</td>
            <td>{{item.time}}</td>
            <td>{{item.day}}</td>
            <td>
                <button ng-click="editItemPopup('.popup__edit', item)">еdit</button>
                <button ng-click="deleteItem(item)">-</button>
            </td>
        </tr>
    </table>
    <button class="table__add" ng-click="showPopup('.popup__add')">+</button>
</div>