<div class="container__blockTable">
    <table class="container__table">
        <tr>
            <th ng-repeat="key in dataKeys">{{key}}</th>
        </tr>
        <tr ng-repeat="item in data">
            <td ng-repeat="(key,value) in item"> {{value}}</td>
            <td>
                <button ng-click="editItemPopup('.popup__edit', item)">еdit</button>
                <button ng-click="deleteItem(item)">-</button>
            </td>
        </tr>
    </table>
    <button class="table__add" ng-click="showPopup('.popup__add')"></button>
</div>