<div class="container__blockTable">
    <table class="container__table table__user">
        <thead>
            <tr>
                <th>Логин</th>
                <th>E-mail</th>
                <th>Имя</th>
                <th>Фамилия</th>
                <th>Отчество</th>
                <th>Роль</th>
                <th>Контактная информация</th>
            </tr>
        </thead>
        <tr ng-repeat="item in data">
            <td>{{item.login}}</td>
            <td>{{item.email}}</td>
            <td>{{item.firstName}}</td>
            <td>{{item.lastName}}</td>
            <td>{{item.patronym}}</td>
            <td>{{item.role}}</td>
            <td>{{item.contactInfo}}</td>
            <td>
                <button ng-click="editItemPopup('.popup__edit', item)">еdit</button>
                <button ng-click="deleteItemPopup('.popup__delete', item)">-</button>
            </td>
        </tr>
    </table>
    <button class="table__add" ng-click="showPopup('.popup__add')"></button>
</div>