@import url('https://fonts.googleapis.com/css?family=Open+Sans');
* {
    box-sizing: border-box;
}

:root {
    --dark: #071E22;
    --green-dark: #1D7874;
    --green-light: #679289;
    --bg-color: #FDF8F4;
    --font-color:#134D4A;
    --red: #AE2224;
    --red-hover:#7D191B;
    --green-dark-hover:#165855;
}

body {
    background: var(--bg-color);
    color: var(--font-color);
    font-family: 'Open Sans', Helvetica, Verdana, sans-serif;
    min-height: 100vh;
    padding: 0;
    margin: 0;
}
/*HEADER*/
header {
    min-height: 70px;
    /*background: var(--green-light);*/
    background: #679289;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logo {
    display: flex;
    align-items: center;
    font-size: 2em;
    max-width: 200px;
}

a{
    text-decoration: none;
    color: var(--font-color);
}

a:hover{
    color: var(--dark);
}

input, textarea, select{
    border: 3px solid var(--green-dark);
    height: 30px;
    border-radius: 5px;
    outline: none;
}

.header__logo img {
    width: 100%;
}

.header__user{
    display: flex;
    justify-content: center;
}

.header__user span{
    color: var(--font-color);
    font-weight: bolder;
    display: flex;
    justify-content: center;
    margin: auto;
}

.header__user a{
    text-decoration: none;
}
.header__user img{
    width: 40px;
    text-align: center;
    margin: auto;
}

.header__menu{
    width: 70vw;
}

.header__list {
    margin:0;
    padding: 0;
    max-height: 70px;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.header__item{
    display: inline-block;
    width: 80px;
    height: 70px;
    margin-right: 7px;
    padding-top: 25px;
    text-decoration: none;
    color: var(--font-color);
    transition: all 0.3s ease;
    text-align: center;
}

.header__item:hover {
    color: var(--bg-color);
    background-image: url(../images/flag-icon.png);
}

.header__item--active{
    color: var(--bg-color);
    background-image: url(../images/flag-icon.png);
}

.header__list a{
    text-decoration: none;
    color:var(--font-color);
}
.header__item--active a{
    color:var(--bg-color);
}

.header__item:hover a{
    color:var(--bg-color);
}
/*CONTAINER*/
.container {
    min-height: calc(100vh - 170px);
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.container__banner{
    width: 100%;
    color: var(--bg-color);
    display: flex;
    justify-content: center;
    text-align: center;
}


.banner__slide{
    width: 100%;
    display: none;
}

.banner__slide--active{
    display:block;
}

.banner__title{
    background-image: url(../images/flags.jpg) ;
    width: 100%;
    height: 20vw ;
    min-height:200px;

    font-size: 5vw;

    display: flex;
    justify-content: center;
    margin: auto;
    text-align: center;
}
.banner__title span{
    margin: auto;
    color: var(--bg-color);
    text-shadow: 5px 5px 5px black;
    min-font-size: 30px;
}

.info__price{
    font-size: 1.8vw;
    color: var(--red);
}

.info__phone{
    font-size: 2vw;
}

.container__choice{
    min-height: 300px;
    width: 100%;
    background: var(--bg-color);
    color: var(--green-dark);
}

.choice__block{
    width: 60%;
    margin: auto;
}

.container__delimiter{
    width: 100px;
    height: 3px;
    background: var(--green-dark);
}

.container__numbers{
    margin: 25px 100px;
    display: flex;
    justify-content: space-around;
}

.container__number {
    border: none;
    background: none;
    font-size: 25px;
    font-weight: bold;
    color: var(--green-dark);
    width: 7vw;
    height: 7vw;
    max-width: 75px;
    max-height:75px;
    min-width: 40px;
    min-height: 40px;
}

.container__number:focus{
    outline: none;
}

.container__number:hover{
    color:var(--font-color);
    background-image: url(../images/round-icon-hover.png);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    
}

.container__number--active{
    color:var(--bg-color);
    background-image: url(../images/round-icon.png);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.container__text{
    display: none;
}

.container__text--active{
    display: block;
}

.choice__text{
    line-height: 15px;
    margin-bottom: 10px;
}

.choice__text span{
    font-size: 13px;
}

.info__block:nth-child(odd){
    background: var(--green-light);
    color: var(--bg-color);
}

.info__block{
    display: flex;
    justify-content: flex-start;
}

.info__image{
    width: 150%;
}

.info__image img{
    width: 100%;
}

.info__text{
    margin-right: 20%;
    margin-left: 25px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.info__blockButton{
    display: flex;
    justify-content: flex-start;
}
.info__blockButton button{
    margin-right: 20px;
    background: var(--green-dark);
    border: none;
    color: var(--bg-color);
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    border-radius: 8px;
}

.info__blockButton button:hover{
    background: var(--green-dark-hover);
}

.info__blockButton button:nth-child(odd){
    background: var(--red);
}

.info__blockButton button:nth-child(odd):hover{
    background: var(--red-hover);
}

/*Contact*/
.container__map{
    width: 100%;
    max-height: 200px;
}

.container__delimiterBlock{
    width:100%;
    height:3px;
    background: var(--green-dark);
}

.container__authors{
    display: flex;
    justify-content: space-around;
    margin: 30px;
    flex-wrap: wrap;
}

.container__author{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.container__authorCenter{
    display: flex;
    justify-content: center;
}

.container__author img{
    border-radius: 100%;
    max-width: 150px;
    margin: 0 20px;
}

.map__picture{
    height: 200px;
}
.container__author h2, .container__author h3,.container__author h4{
    margin: 5px 0;
}

.container__author{
    text-align: center;
}

/*Admin*/
.container__blockTable{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    padding-left: 40px;
}
.container__table, th , td {
    border: 1px solid var(--green-dark-hover);
    border-collapse: collapse;
    padding: 5px;
    color: var(--dark);
    font-size: 12px;
    word-wrap: break-word;

}

.container__table tr:nth-child(odd) {
    background-color: #9EB9B3;
}
.container__table tr:nth-child(even) {
    background-color: var(--bg-color);
}

.container__table td{
    max-width: 150px;
}
.container__table{
    transition: all 0.3s ease;
}
.table__add{
    border: none;
    outline: none;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    border-radius: 100%;
    background: var(--bg-color);
    background-image: url(../images/add.png);
    cursor: pointer;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    height: 20%;
    width: 20%;
    max-height: 50px;
    max-width: 50px;
    min-height: 25px;
    min-width: 25px;
    position: fixed;
    right: 25px;
    bottom: 20%;

}

.menu{
    flex-shrink: 1;
    width: 200px;
    background: var(--font-color);
    color: var(--bg-color);
}

.menu ul{
    text-decoration: none;
}

.menu__item--active {
    color: white;
    background: var(--red);
}
.menu__item a {
    text-decoration: none;
    color: var(--bg-color);
}

.menu__item:hover{
    background: var(--green-dark);
}

.container__backend{
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    min-height: calc(100vh - 170px);
    flex-wrap: wrap;
}
.container__base{
    display: flex;
    justify-content: center;
}


.modal__box{
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal__content{
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    max-width: 60%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}
.modal__content textarea{
    min-height: 45px;
}

.reg__error{
    display: none;
    color: var(--red);
    font-size: 12px;
}

@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

.modal__header {
    padding: 2px 10px;
    background-color: var(--green-dark);
    color: white;
}

.popup__delete .modal__header h3{
    margin: 0;
}

.modal__body {
    padding: 2px 16px;
    display: flex;
    justify-content: center;
}

.modal__footer {
    padding: 2px 16px;
    background-color: var(--green-dark);
    color: white;
    display: flex;
    justify-content: space-around;
}

.popup_keyValue{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top:2px;
}
.popup_keyValue{
    max-width: 300px;
}
input .ng-dirty.ng-invalid, textarea .ng-dirty.ng-invalid, select .ng-dirty.ng-invalid{
    border: 3px solid var(--red);
}

.popup__add input .ng-dirty.ng-invalid{
    border: #7D191B;
}

select, input {
    min-height: 25px;
}

textarea{
    height: 60px;
}

button,.modal__box .modal__button{
    background: var(--bg-color);
    border: none;
    color: var(--font-color);
    padding: 5px;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    border-radius: 8px;
}

.modal__box .modal__button:hover{
    background: #E6DDD6;
    cursor: pointer;
}

.container__blockTable button:not(.table__add){
    background: #1D7874;
    cursor: pointer;
    color:var(--bg-color);
}

.container__blockTable button:not(.table__add):hover{
    background: var(--green-dark-hover);
    cursor: pointer;
    color:var(--bg-color);
}


button:disabled, .modal__box .modal__button:disabled, .reg__button:disabled, input[type=button]:disabled{
    background: var(--red);
    opacity: 0.5;
    color: var(--bg-color);
}



button:hover:disabled, .modal__box .modal__button:hover:disabled, .reg__button:hover:disabled, input[type=button]:hover:disabled{
    background: var(--red);
    opacity: 0.5;
    color: var(--bg-color);
}

.error__message{
    margin-left: 5%;
    color: var(--red);
    width: 2px;
    font-size: 16px;
}

    /*NEWS*/
.container__news{
    width: 80%;
    margin: auto;
}

.news__block{
    margin: 25px 0;
    border-radius: 3px;
    border: 1px solid var(--green-light);
    background: #F1F5F4;
}

.news__block .container__delimiterBlock{
    height: 1px;
}

.news__info{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.news__info span{
    margin: 0 10px;
}

.news__block .news__info{
    background: #B9CDC9;
    border-radius: 3px;
}

.news__block h3{
    margin: 10px;
}
.news__content{
    margin: 10px;
}

    /*COMMENTS*/
.container__comments{
    width: 70%;
    margin: auto;
}

.comment__block{
    margin: 25px 0;
}

.comment__block img{
    float:left;
    max-width: 100px;
    border-radius: 100%;
    margin-right: 50px;
}

.comment__block:nth-child(even) img{
    float:right;
    margin-left: 50px;
}

.comment__block:nth-child(even){
    text-align: right;
}

.container__comments .container__delimiterBlock{
    height: 1px;
    margin: 15px 0 ;
}

.comment__text{
    margin-left: 30px;
}

.comment__text h3{
    margin-bottom: 0;
}

.comment__info{
    font-style: italic;
    font-size: 13px;
    margin-bottom: 30px;
}

    /*LOGIN*/
.container__login{
    max-width: 40%;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.login__keyValue{
    display:flex;
    justify-content: flex-start;
    flex-direction: column;
}



.login__block input{
    width: 300px;
    border: 3px solid var(--green-dark);
    height: 30px;
    border-radius: 5px;
    outline: none;
}

.login__block label{
    color: var(--font-color);
    font-size: 18px;
}

.login__block span{
    color: var(--red);
    font-size: 14px;
    font-style: italic;
}

.container__login button{
    margin-top: 25px;
    background: var(--green-light);
    border: none;
    color: white;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    border-radius: 8px;
}

.container__login button:hover{
    background: var(--green-dark-hover);
}

.container__login a{
    text-decoration: none;
    color:var(--font-color);
    font-style: italic;
}

.login__block input .ng-dirty.ng-invalid {
    border-color: var(--red);
}

    /*TEACHER STUDENT*/

.container__information{
    display: flex;
    align-items: stretch;
    flex-direction: row-reverse;
    min-height: calc(100vh - 170px);
    justify-content: space-between;
}

.information__miniBlock{
    background: var(--green-dark);
    padding: 20px;
    width: 400px;
}

.base__schedule{
    display: flex;
    width: 80%;
    margin: auto;
    max-width: calc(100vw - 405px);
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction:row;
}

.base__scheduleStudent{
    display: flex;
    width: 60%;
    margin: auto;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction:row;
}

.schedule__day{
    min-width: 200px;
    min-height: 200px;
    background: #90AFA9;
    border-radius: 4px;
    margin: 10px;
    padding: 10px;
}
.information__base{
    text-align: center;
    max-width: calc(100vw - 405px);
}
.information__baseStudent{
    text-align: center;
}
.information__miniBlock{
    color: #B9CDC9;
}

.information__miniBlock a{
    color: #B9CDC9;
}

.information__miniBlock a:hover{
    color: var(--dark);
}


.information__base h2{
    font-size: 30px;
    margin: 10px;
}

.information__base h3{
    margin-bottom: 5px;
}

    /*ERROR_PAGE*/

.container__error{
    background: var(--green-dark);
    display: flex;
    justify-content: center;
    margin: auto;
    text-align: center;
}
.container__error .error__title{
    color: var(--bg-color);
    font-size: 10vw;
    font-weight: bold;
}

.container__error .error__text{
    color: var(--bg-color);
    font-size: 3vw;
}


    /*FOOTER*/
footer{
    min-height: 100px;
    background: var(--dark);
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: var(--bg-color);
    flex-wrap: wrap;
}

.navigation__list{
    display: inline-block;
    list-style: none;
    margin: 0;
} 

.navigation__link:hover{
    text-decoration: underline;
}
.navigation__link{
    width: 40%;
    float: left;
    text-decoration: none;
    color: var(--bg-color);
    
}

.footer__navigation{
    font-size: 12px;
}

.footer__logo{
    width: 150px;
    margin: 10px;
}

.footer__logo img{
    width: 100%;
}

@media screen and (max-width: 1000px)
    /*@media*/
/*only screen and (max-width: 1000px),*/
/*(min-device-width: 768px) and (max-device-width: 1024px)  */
{

    table, thead, tbody, th, td, tr {
        display: block;
    }

    table{
        width:95%;
        margin: 10px;
    }

    .container__blockTable{
        margin: 0;
        padding: 0;
    }

    /*.container__table td{*/
        /*max-width: 50%;*/
    /*}*/
    .container__base, .container__blockTable, .container__table, .table__view {
        width: 100%;
    }
    thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    tr { border: 1px solid #ccc; }

    td {
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
    }

    td:before {
        position: absolute;
        top: 6px;
        left: 6px;
        width: 50%;
        padding-right: 20px;
        white-space: nowrap;
        font-weight: bold;
    }

    .container__table td{
        max-width: 1000px;
    }

    .table__user td:nth-of-type(1):before { content: "Логин:"; }
    .table__user td:nth-of-type(2):before { content: "E-mail:"; }
    .table__user td:nth-of-type(3):before { content: "Имя:"; }
    .table__user td:nth-of-type(4):before { content: "Фамилия:"; }
    .table__user td:nth-of-type(5):before { content: "Отчество:"; }
    .table__user td:nth-of-type(6):before { content: "Роль:"; }
    .table__user td:nth-of-type(7):before { content: "Контакты:"; }

    .table__news td:nth-of-type(1):before { content: "Заголовок:"; }
    .table__news td:nth-of-type(2):before { content: "Текст:"; }
    .table__news td:nth-of-type(3):before { content: "Автор:"; }
    .table__news td:nth-of-type(4):before { content: "Дата:"; }

    .table__comment td:nth-of-type(1):before { content: "Автор:"; }
    .table__comment td:nth-of-type(2):before { content: "Курсы:"; }
    .table__comment td:nth-of-type(3):before { content: "Дата:"; }
    .table__comment td:nth-of-type(4):before { content: "Контент:"; }

    .table__course td:nth-of-type(1):before { content: "Название:"; }
    .table__course td:nth-of-type(2):before { content: "Язык:"; }
    .table__course td:nth-of-type(3):before { content: "Описание:"; }
    .table__course td:nth-of-type(4):before { content: "Часы:"; }
    .table__course td:nth-of-type(5):before { content: "Дата начала:"; }
    .table__course td:nth-of-type(6):before { content: "Цена"; }

    .table__group td:nth-of-type(1):before { content: "Уровень:"; }
    .table__group td:nth-of-type(2):before { content: "Студенты:"; }
    .table__group td:nth-of-type(3):before { content: "Курсы:"; }
    .table__group td:nth-of-type(4):before { content: "Староста:"; }

    .table__lesson td:nth-of-type(1):before { content: "Группа:"; }
    .table__lesson td:nth-of-type(2):before { content: "Преподаватель:"; }
    .table__lesson td:nth-of-type(3):before { content: "Аудитория:"; }
    .table__lesson td:nth-of-type(4):before { content: "Время:"; }
    .table__lesson td:nth-of-type(5):before { content: "День:"; }

    .table__mark td:nth-of-type(1):before { content: "Отметка:"; }
    .table__mark td:nth-of-type(2):before { content: "Студент:"; }
    .table__mark td:nth-of-type(3):before { content: "Контр. т.:"; }

    .container__backend{
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .menu{
        width:100%;

    }
    .menu ul{
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .menu li{
        display: inline-block;
        margin-left: 30px;
        margin-top: 10px;
    }
    .menu__list{
        padding: 10px;
    }

}

[type="checkbox"], .header label {
    display: none;
}

@media screen and (max-width: 900px) {

    .base__scheduleStudent{
        width:100%;
    }

    .base__schedule {
        display: flex;
        max-width: 100%;
        margin: auto;
        justify-content: center;
        flex-wrap: wrap;
        flex-direction: row;
    }

    .information__base {
        max-width: 100%;
        text-align: center;
    }

    .login__block input{
        max-width: 150px;
    }

    .choice__block h2, .choice__block h3{
        font-size: 1.2em;
    }

    .choice__block h3{
        font-size: 1em;
    }

    .choice__block{
        width: 80%;
    }

    .container__number{
        font-size: 14px;
        margin-right:5px;
    }

    .header__menu .header__list {
        display: none;
    }

    .header label {
        display: block;
        background: var(--font-color);
        width: 40px;
        height: 40px;
        cursor: pointer;
        position: absolute;
        right: 100px;
        top: 15px;
    }

    .header label:after{
        content:'';
        display: block;
        width: 30px;
        height: 5px;
        background: var(--green-light);
        margin: 7px 5px;
        box-shadow: 0px 10px 0px #679289, 0px 20px 0px #679289
    }

    [type="checkbox"]:checked ~ .header__list {
        display: block;
        z-index: 9999;
        position: absolute;
        top: 70px;
        right: 30px;
        left: 30px;
    }

    .header__menu a {
        color: var(--font-color);
    }

    .header__menu .header__list .header__item {
        display: block;
        float: none;
        width: 100%;
        text-align: center;
        background: #679289;
        text-indent: 20px;
        font-weight: bold;
        height: auto;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .header__menu .header__list .header__item:hover {
        background: var(--green-dark);
    }

    .header__menu > .header__list > .header__item {
        margin-left: 0px;
    }


    .header__menu > .header__list .header__item .header__list {
        display: block;
        position: relative;
        width: 100%;
        z-index: 9999;
        float: none;
    }

    .header__item:hover{
        background-image: none;
        background: var(--green-dark);
    }
}

@media screen and (max-width: 900px) {
    .container__information{
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: space-between;
    }

    .information__miniBlock{
        width: 100%;
    }

    .information__base {
        width: 100%;
        text-align: center;
    }
}